{% extends 'base.html' %}
{% block content %}
<!--<div class="col-md-6 offset-md-3">-->
{% if user.is_authenticated %}
<!--<h1> Records</h1>-->
    <table class="table">
  <thead>
    <tr>
      <th scope="col" style="background-color:black; color: white">Name</th>
        <th scope="col" style="background-color:black; color: white">Gender</th>
      <th scope="col" style="background-color:black; color: white">Email address</th>
      <th scope="col" style="background-color:black; color: white">Phone</th>
      <th scope="col" style="background-color:black; color: white">Address</th>
        <th scope="col" style="background-color:black; color: white">State</th>
        <th scope="col" style="background-color:black; color: white">Hobbies</th>
        <th scope="col" style="background-color:black; color: white">Department</th>
        <th scope="col" style="background-color:black; color: white">Course</th>
        <th scope="col" style="background-color:black; color: white">Date of Birth</th>
    </tr>
  </thead>
  <tbody>

  {% if records %}
      {% for record in records %}
         <tr>
           <td>{{record.first_name}}
               {{record.last_name}} </td>
             <td>{{record.gender}}</td>
             <td>{{record.email}}</td>
             <td>{{record.phone}}</td>
             <td>{{record.address}}</td>
             <td>{{record.state}}</td>
             <td>{{record.hobbies}}</td>
             <td>{{record.department}}</td>
             <td>{{record.courses}}</td>
             <td>{{record.date_of_birth}}</td>
         </tr>



      {% endfor %}
  {% endif %}


   </tbody>
    </table>




 {% else %}

{% url 'home' %}
<!--<div class="col-md-6 offset-md-3">-->
<!--<h1>Login</h1>-->
<!--<br/>-->

<!--<form method="POST" action="{% url 'home' %}">-->
<!--	{% csrf_token %}-->

<!--  <div class="mb-3">-->
<!--    <input type="text" class="form-control" name="username", placeholder="Username" required>-->

<!--  </div><br/>-->
<!--  <div class="mb-3">-->
<!--    <input type="password" class="form-control" name="password", placeholder="Password" required>-->
<!--  </div>-->
<!--  <br/>-->
<!--  <button type="submit" class="btn btn-secondary">Login</button>-->

<!--</form>-->
<!--<script> window.location.href="{% url 'home' %}"</script>-->


{% endif %}

{% endblock %}





